@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Add a Flavor</h2>

<h4>Add a Flavor to This Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}

